#title{
    font-size: 20px;
    color:pink;
}
body{
    background-color:gainsboro;
}
#img{
    background-image: url(../imgs/logo.jpg);
    width:660px;
    height:371px;
    background-size: 100% 100%;
 }